* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 16px;
  color: #222;
}



.wrapper{
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
}


.mainContents{
  width: 100%;
  height: 80vh;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  overflow-x: hidden;
  overflow-y: scroll;

}

.cdrack{
  width: 85%;
  height:100vh;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
}

.cd{
  width: 330px;
  height: 330px;
  border-radius: 50%;
  padding:20px;
  margin: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;

  color: #f0f0f0;

}

.cd a{
  color: #f0f0f0;
}

.cd a:hover{
  text-decoration: none;
}

.cd .tags{
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;
  list-style: none;
}

.cdrack>article{
  background-color: rgba(255,128,128,0.5);
}

.cdrack>article:nth-of-type(12n + 0){
  filter: hue-rotate(0deg);
}

.cdrack>article:nth-of-type(12n + 1){
  filter: hue-rotate(30deg);
}

.cdrack>article:nth-of-type(12n + 2){
  filter: hue-rotate(60deg);
}


.cdrack>article:nth-of-type(12n + 3){
  filter: hue-rotate(90deg);
}

.cdrack>article:nth-of-type(12n + 4){
  filter: hue-rotate(120deg);
}

.cdrack>article:nth-of-type(12n + 5){
  filter: hue-rotate(150deg);
}

.cdrack>article:nth-of-type(12n + 6){
  filter: hue-rotate(180deg);
}

.cdrack>article:nth-of-type(12n + 7){
  filter: hue-rotate(210deg);
}

.cdrack>article:nth-of-type(12n + 8){
  filter: hue-rotate(240deg);
}

.cdrack>article:nth-of-type(12n + 9){
  filter: hue-rotate(270deg);
}

.cdrack>article:nth-of-type(12n + 10){
  filter: hue-rotate(300deg);
}

.cdrack>article:nth-of-type(12n + 11){
  filter: hue-rotate(330deg);
}

.nav{
  width: 15%;
  height: 100vh;
}

.dataList,
.taxList{
  list-style: none;
}

.header{
  width: 100%;
  height: 10vh;
  background-color: #111;
  color: #f0f0f0;

  display: flex;
  justify-content: flex-start;
  align-items: center;

}

.header h1{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.header h1 span,
.header h1 small{
  font-size: 1rem;
}
.header h1 a{
  color:#f0f0f0;
}
.header h1 a:hover{
  text-decoration: none;
}

.footer{
  width: 100%;
  height: 10vh;
  background-color: #111;
  color: #f0f0f0;
}
