{{ partial "site_header.html" . }}
<div class="wrapper">

  {{ partial "content_header.html" . }}


    <section class="mainContents">
      <main class="postcontent">

        {{.Content}}

        {{.Date}}        
      </main>
      <nav class="postdata">
        <dl>
          <dt>
            ダウンロード
          </dt>
          <dd>
            <a href="{{ .Site.Params.DlURL  }}{{ .Params.DlPath }}">{{ .Site.Params.DlURL  }}{{ .Params.DlPath }}</a>
          </dd>
          <dt>
            作曲年月日
          </dt>
          <dd>
            {{.Params.originalDate}}
          </dd>
          <dt>
            曲長さ
          </dt>
          <dd>
            {{.Params.originalLength}}
          </dd>
          <dt>
            関連URL
          </dt>
          <dd>
            <ul class="tags">
              {{ range .Params.Links }}
                <li><a href="{{ . }}">{{.}}</a>
                </li>
              {{ end }}
            </ul>
          </dd>
          <dt>
            タグ
          </dt>
          <dd>
            <ul class="tags">
              {{ range .Params.tags }}
                <li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
              {{ end }}
            </ul>
          </dd>
        </dL>
      </nav>


    </section>


  {{ partial "content_footer.html" . }}

</div>
{{ partial "site_footer.html" . }}
