<!DOCTYPE html>
{{ with .Site.LanguageCode }}<html lang="{{ . }}">{{ else }}<html>{{ end }}
<head>
<meta charset="utf-8">
<title>{{ .Site.Title }}</title>
<link rel="stylesheet" href="{{.Site.BaseURL}}style.css">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="description" content="見切り発車Pが過去に作った曲の置き場">


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121296798-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-121296798-1');
</script>

</head>
<body>
