{{ partial "site_header.html" . }}
<div class="wrapper">

  {{ partial "content_header.html" . }}


    <section class="mainContents">
      <main class="cdrack">
        <article class="cd"><h2>{{ .Title }}の一覧</h2></article>
        {{ range (.Paginator 22).Pages }}
          <article class="cd">
            <h3>
              <a href="{{.Permalink}}">
                {{ .Title}}
              </a>
            </h3>
            <ul class="tags">
              {{ range .Params.tags }}
                <li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>, </li>
              {{ end }}
            </ul>
            <a href="{{ .Site.Params.DlURL  }}{{ .Params.DlPath }}">DL</a>

          </article>
        {{ end }}
        {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
          <article>

            {{ if .Paginator.HasPrev }}
            <a href="{{ .Paginator.Prev.URL }}">前へ</a>
            {{ end }}
            <span class="">Page {{ .Paginator.PageNumber }} of {{ .Paginator.TotalPages }}</span>
            {{ if .Paginator.HasNext }}
            <a href="{{ .Paginator.Next.URL }}">次へ</a>
            {{ end }}

        </article>
        {{ end }}
      </main>

      {{ partial "content_side.html" . }}
    </section>


  {{ partial "content_footer.html" . }}

</div>
{{ partial "site_footer.html" . }}
