{{ partial "site_header.html" . }}
<div class="wrapper">


  <section class="contents">

    {{ partial "content_header.html" . }}
    <section class="mainContents">
      <main>
        {{ range first 10 .Data.Pages }}
          <article>
            <a href="{{.Permalink}}">
              {{ .Title}}
            </a>
            <ul>
              {{ range .Params.tags }}
                <li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
              {{ end }}
            </ul>
          </article>
        {{ end }}
      </main>
    </section>
    {{ partial "content_side.html" . }}

  </section>
  {{ partial "content_footer.html" . }}

</div>
{{ partial "site_footer.html" . }}
