{{ partial "site_header.html" . }}
<div class="wrapper">


  <section class="mainContents">

  {{ partial "content_header.html" . }}

  <main>
    {{ range first 10 .Data.Pages }}
      <article>
        <a href="{{.Permalink}}">
          {{ .Title}}
        </a>
        <ul>
          {{ range .Params.tags }}
            <li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
          {{ end }}
        </ul>
      </article>
    {{ end }}
  </main>

  {{ partial "content_side.html" . }}

  </section>


</div>
{{ partial "site_footer.html" . }}
